

.card {
  height: 230px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: filter ease 0.3s;
}
.card:hover {
  filter: sepia();

}

.card h1 h2 {
  padding: 5px;
  margin: 2px;
}

.card {
  flex: 0 0 30%;
}

.card-text {
  position: absolute;
  top: 0px;
  left: 10px;
  color: #fff;
}

.card-desc {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;

}

.card-photo {
  position: absolute;
  top: 10px;
  right: 10px;
}

.album {
  border-radius: 3px;
  width: 50px;
  height: 50px;
}


