.footer {
  background-color: #333333;
  color:white;
  height: 25vh;
  display: flex;
  align-items: center;
}

.footer .fa {
  font-size: 35px;
  padding: 20px;
}

.footer .fa:hover {
  color:#AE9D16;
  font-size: 35px;
  padding: 20px;
}
